/* CSS for the Showdown calculator page. */

h1, h2, h3, p, ul, li, div{
  font-family: "Open Sans";
}
h3{
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;

}
ul{
  font-size: 13px;
}

p{
  font-size: 15px;
}

a{
  text-decoration: none;
  color:#66c63f;
}

img{
  width:100%;
  max-width: 200px;
  height: auto;
  display:block;
  margin-left: auto;
margin-right: auto;

}


p{
  
}

.paragraph-block{
  max-width: 1080px;
  min-width: 450px;
  width: 100%;
  padding: 10px;
  margin: 25px auto 25px auto;
}
/* il stands for input-label */
.il-n,.il-c,.il-a{
  display:block;
  position: relative;

}
.il-ob{
  display:block;
  font-weight:bold;
}
.chart-select{
  display:inline-block;
  padding: 0px;
  margin: 0px;
}
.batter-input{
  display:inline-block;
  background-color: #DADCE8;
  border: 1px solid lightblue;
  max-width: 450px;
}
.pitcher-input{
  display:block;
  background: linear-gradient(45deg, #2bb673, #8dc63f); /* Standard syntax */;
  color: #fff;
  font-weight: 300;
  padding: 10px;
  width: 100%;
  min-width: 450px;
  max-width: 1080px;
  margin: 0 auto 0 auto;
}
.i-n{
  font-weight:bold;
}
div + div{
  margin: 3px 0px auto 0;
  
}
.run{
  background-color: #FFFFBF;
}
.num-bat-rad{
  
}
#run-simulation{
  margin:10px 0 10px 0;
  padding:5px;
  font-size:1.3em;
}
.results-before{
  margin-top: 10px;
  color: #D6D6D6;
  font: italic small-caps 100 48px/2 sans-serif;
  vertical-align: middle;
  width:90%;
  background-color:#FFFBDB;
  height:200px;
  border:2px solid #DBDFFF;
  border-radius:20px;
  text-align:center;
  margin: 10px auto 0 auto;
  /*float:right;*/
  /*padding:10px;*/
}
.results-after{
  margin-top: 10px;
}
.score-results{
  margin-top: 10px;
}
.bat-results{
  margin-top: 10px;
}
.pit-results{
  margin-top: 10px;
}
table{

}
thead{

}
tr{

}
td{

}
