/* CSS for the Showdown calculator page. */

/* div#form1, div#form2{

} */
img{
  width:100%;
  max-width: 200px;
  height: auto;
}
/* il stands for input-label */
.il-n,.il-c,.il-a{
  display:block;
}
.il-ob{
  display:block;
  font-weight:bold;
}
.chart-select{
  display:inline-block;
  padding: 0px;
  margin: 0px;
}
.batter-input{
  display:inline-block;
  background-color: #DADCE8;
  border: 1px solid lightblue;
}
.pitcher-input{
  display:inline-block;
  background-color: #FABE82;
  border: 1px solid lightblue;
}
.i-n{
  font-weight:bold;
}
div + div{
  margin: 3px 0px auto 0;
  
}
#run-simulation{
  margin:10px 0 10px 0;
  padding:5px;
  font-size:1.3em;
}
.results-before{
  margin-top: 10px;
  color: #D6D6D6;
  font: italic small-caps 100 48px/2 sans-serif;
  vertical-align: middle;
  width:90%;
  background-color:#FFFBDB;
  height:200px;
  border:2px solid #DBDFFF;
  border-radius:20px;
  text-align:center;
  margin: 10px auto 0 auto;
  /*float:right;*/
  /*padding:10px;*/
}
.results-after{
  margin-top: 10px;
}
.score-results{
  margin-top: 10px;
}
.bat-results{
  margin-top: 10px;
}
.pit-results{
  margin-top: 10px;
}
table{

}
thead{

}
tr{

}
td{

}

/* h3,p{
text-align:center;
color:#aa2322
}
input{
width:100%;
margin:10px 0;
padding:5px;
height:40px;
box-shadow:1px 1px 1px 1px gray;
border-radius:5px
}
textarea{
margin:10px 0;
padding:5px;
box-shadow:5px 1px 1px 1px gray;
border-radius:5px
}
div#container{
margin:50px auto;
width:960px
}
h1{
color:#bbbaa1;
text-shadow:1px 1px 1px gray
}
h2{
color:#bb4555;
text-shadow:1px 1px 1px gray
} */